<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheets">
<div class="container" style="font-family: 'Playfair Display', serif;">
  <header><img src="http://3.bp.blogspot.com/-llOnyueWBQc/Ubf1Ngl1_pI/AAAAAAAAQ0c/uv_WQj-wTj0/s1600/leio+o+amor.jpg" style="width: 100%;" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Book Lister</h2>

    <div class="content">
      <p>Welcome to the BookLister! With this app you can save titles and short descriptions of books you want to read.
      Then you can come back anytime and add, edit, or delete titles you have read. A great way to keep your reading lists organized so you will never forget
      another book that you want to read! </p>
    </div>

    <div class="sidebar" style="text-align: center;">

      <ul>
        <li><a href="signup"> Sign Up </a></li>
        <li><a href="login"> Log In </a></li>
      </ul>
    </div>

  </div>
</div>
